<template>
  <div>
    <h1>{{ message }} {{ name }}</h1>
    <input v-model="name" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Greeter extends Vue {
  @Prop() message: string | undefined;
  name = '';
}
</script>

<style scoped></style>
