<template>
    <section id="todoapp" class="todoapp">

        <ToDoList :todos="todos" @onRemoveToDo="deleteToDo"/>

    </section>
</template>

<script>
  import {loadToDos, deleteToDo} from "../persistence";
  import NewToDo from './NewToDo';
  import ToDoList from './ToDoList';

  export default {
    name: 'DoneScreen',
    components: {NewToDo, ToDoList},
    data: () => ({
      todos: []
    }),
    computed: {
      todoCount: function () {
        return this.todos.length
      }
    },
    methods: {
      deleteToDo: function (todo) {
        const position = this.todos.indexOf(todo);
        if (position >= 0) {
          this.todos.splice(position, 1);
          deleteToDo(todo);
        }

      }
    },
    created: function () {
      loadToDos(true)
        .then(todos => {
          this.todos = todos;
        })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>



</style>
