<template>
    <form class="new-todo" @submit.prevent="addToDo">
        <input v-model="newToDoTitle" id="todo-text" type="text" placeholder="What needs to be done?" autofocus
               autocomplete="off">
        <button class="add-button" id="add-button">+</button>
    </form>
</template>

<script>

  export default {
    name: 'NewToDo',
    props: {
      onAddToDo: String
    },
    data: () => ({
      newToDoTitle: '',
    }),
    methods: {
      // Used in render function
      // update: function(e){
      //   this.newToDoTitle = e.target.value;
      // },
      addToDo: function (e) {
        // e.preventDefault(); not needed with template
        const newToDo = {title: this.newToDoTitle, completed: false};
        this.$emit('onAddToDo', newToDo);
        this.newToDoTitle = '';
      }
    },
    // // Alternative to template
    // render: function (h) {
    //   return (
    //     <form class="new-todo" onSubmit={this.addToDo}>
    //         <input id="todo-text"
    //                value={this.newToDoTitle}
    //                onChange={this.update}
    //                type="text"
    //                placeholder="What needs to be done?"
    //                autofocus
    //                autocomplete="off"/>
    //         <button class="add-button" id="add-button">+</button>
    //     </form>
    //   )
    // }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
