<template>
    <section id="todoapp" class="todoapp">

        <p>ToDo Count: {{todoCount}}</p>

        <!-- TODO: Exercise - extract the form into a component-->
        <form class="new-todo" @submit.prevent="addToDo">
            <input v-model="newToDoTitle" id="todo-text" type="text" placeholder="What needs to be done?" autofocus
                   autocomplete="off">
            <button class="add-button" id="add-button">+</button>
        </form>

        <ToDoList :todos="todos" @onRemoveToDo="completeToDo"/>

    </section>
</template>

<script>
import { loadToDos } from '../persistence';
import NewToDo from './NewToDo';
import ToDoList from './ToDoList';

export default {
  name: 'ToDoScreen',
  components: { NewToDo, ToDoList },
  data: () => ({
    // todos: [{title: 'Learn Vue'}, {title: 'Learn React'}, {title: 'Learn Angular'},]
    todos: []
  }),
  computed: {
    todoCount: function() {
      return this.todos.length;
    }
  },
  methods: {

    addToDo: function() {
      const newToDo = {title: this.newToDoTitle, completed: false};
      this.todos.push(newToDo);
      this.newToDoTitle = '';

      // TODO: Exercise persist the ToDo
    },
    completeToDo: function(todo) {
      const position = this.todos.indexOf(todo);
      if (position >= 0) {
        todo.completed = true;
        this.todos.splice(position, 1);
      }
      // TODO: Exercise persist the ToDo
    }
  },
  created: function() {
    loadToDos(false).then(todos => {
      this.todos = todos;
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    input::-webkit-input-placeholder {
        font-style: italic;
        font-weight: 300;
        color: #e6e6e6;
    }

    input::-moz-placeholder {
        font-style: italic;
        font-weight: 300;
        color: #e6e6e6;
    }

    .new-todo {
        display: flex;
        padding: 1px 20px 1px 20px;
        border: none;
        background: #fff;
        position: relative;
        margin: 0;
        width: 100%;
        line-height: 1.4em;
        outline: none;
        /*padding: 6px;*/
        /*border: 1px solid #999;*/
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.1);
    }

    .new-todo input {
        flex-grow: 1;
        font-size: 24px;
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: 1.4em;
        border: 0;
        outline: none;
    }

    .add-button {
        display: block;
        float: right;
        margin: auto 0;
        font-size: 50px;
        color: #cc9a9a;
        margin-bottom: 11px;
    }

    .add-button:hover {
        color: #af5b5e;
    }

</style>
