<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>
<body>
<div id="app" v-cloak>
    <h1>Simple Greeter</h1>
    <greeter :message="parentMessage"></greeter>
</div>

<script src="vue.js"></script>
<script>

  var Greeter = {
    template: `
            <div>
              <h1>
               {{message}} {{name}}
              </h1>
              <input v-model="name">
            </div>
            `,
    props: ['message'],
    data: () => {
      return {
        name: ''
      };
    }
  };
  Vue.component('greeter', Greeter);

  const app = new Vue({
    el: '#app',
    data: {
      parentMessage: 'Hello'
    }
  });
</script>
</body>
</html>
