<template>
    <section id="todoapp" class="todoapp">

        <p>ToDo Count: {{todoCount}}</p>
        <NewToDo @onAddToDo="addToDo"/>
        <ToDoList :todos="todos" @onRemoveToDo="completeToDo"/>

    </section>
</template>

<script>
  import {loadToDos, updateToDo, saveToDo} from "../persistence";
  import NewToDo from './NewToDo';
  import ToDoList from './ToDoList';

  export default {
    name: 'ToDoScreen',
    components: {NewToDo, ToDoList},
    data: () => ({
      // todos: [{title: 'Learn Vue'}, {title: 'Learn React'}, {title: 'Learn Angular'},]
      todos: []
    }),
    computed: {
      todoCount: function () {
        return this.todos.length
      }
    },
    methods: {
      addToDo: function (newToDo) {

        this.todos.push(newToDo);
        saveToDo(newToDo)
          .then(persistedToDo => newToDo.id = persistedToDo.id);
      },
      completeToDo: function (todo) {
        const position = this.todos.indexOf(todo);
        if (position >= 0) {
          todo.completed = true;
          this.todos.splice(position, 1);
          updateToDo(todo);
        }

      }
    },
    created: function () {
      loadToDos(false)
        .then(todos => {
          this.todos = todos;
        })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>



</style>
