<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <Greeter :message="parentMessage"></Greeter>
<!--    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />-->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue';
import Greeter from '@/components/Greeter.vue'; // @ is an alias to /src

@Component({
  components: {
    Greeter,
    HelloWorld
  }
})
export default class Home extends Vue {
  parentMessage = 'Hello';
}
</script>
