<section class="todoapp">

  <!--  // TODO: Exercise - extract a component for the entry form-->
  <div class="new-todo">
    <form #formRef="ngForm" (ngSubmit)=" formRef.valid && addToDo()">
      <input #inputRef="ngModel"
             name="newToDoTitle"
             [(ngModel)]="newToDoTitle"
             required minlength="3"
             type="text"
             placeholder="What needs to be done???"
             autofocus autocomplete="off" />
      <button *ngIf="formRef.valid" type="submit" class="add-button" id="add-button" >
        +
      </button>
    </form>
  </div>


  <td-todo-list *ngIf="!loading" [todos]="todos" (removeToDo)="completeToDo($event)"></td-todo-list>
  <div *ngIf="loading" class="loading-placeholder">
    <td-spinner></td-spinner>
  </div>
</section>

