<template>
  <div id="app">

    <header class="todoapp-header">
      <h1 id="title">Simplistic ToDo</h1>
      <h4>A most simplistic ToDo List in Vue.js.</h4>
    </header>

    <div class="nav">
      <router-link to="/" exact>Pending</router-link> |
      <router-link to="/done">Completed</router-link>
    </div>

    <router-view/>

    <footer class="info">
      <p>JavaScript Example / Initial template from <a href="https://github.com/tastejs/todomvc-app-template">todomvc-app-template</a> </p>
    </footer>
  </div>
</template>

<script>
import ToDoScreen from './components/ToDoScreen.vue'

export default {
  name: 'app',
  components: {
    ToDoScreen
  }
}
</script>

<style>

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
  }

  button {
    margin: 0;
    padding: 0;
    border: 1px;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .todoapp-header h1 {
    top: -140px;
    width: 100%;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.35);
  }

  .todoapp-header h4 {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.55);
  }

  .nav {
    text-align: center;
    margin-bottom: 20px;
  }

  a.router-link-active {
    font-weight: bold;
    cursor: default;
    text-decoration: none;
  }

  .info {
    margin: 65px auto 0;
    color: darkgrey;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  .info p {
    line-height: 1;
  }

  .info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }

  .info a:hover {
    text-decoration: underline;
  }


</style>
